<div class="sign-in-container">
  <h1>Sign in</h1>
  <p>Stay updated on your professional world</p>

  <div
    class="form"
    [formGroup]="signInForm">
    <input
      class="input-field"
      type="text"
      formControlName="username"
      placeholder="Email or Phone" />

    <div class="password">
      <input
        class="input-field"
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        placeholder="Password" />
      <span
        class="show-password"
        (click)="togglePasswordVisibility()"
        >{{ showPassword ? 'hide' : 'show' }}</span
      >
    </div>

    <a
      href="#"
      (click)="onForgotPassword()"
      >Forgot password?</a
    >
    <div>
      <button
        type="submit"
        (click)="signIn()"
        [disabled]="!signInForm.valid">
        Sign in
      </button>
    </div>

    <div>
      <button
        type="submit"
        (click)="signUp()"
        [disabled]="!signInForm.valid">
        Sign up
      </button>
    </div>
  </div>
</div>
