* {
  box-sizing: border-box;
}

.sign-in-container {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

a {
  color: #0077b5;
  text-decoration: none;
  display: inline-block;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-content: center;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.password {
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #0077b5;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0077b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
